body {
    background-image: url("Background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.dragon{
    display: flex;
    align-content: space-around;
    height: 310px;
}
.slime{
    display: flex;
    align-content: space-around;
}

.dragon2{
    size:cover;
    margin-top: 100px;
}
.png{
    margin-top: 1px;
    
}



.slime2{
    height: 100px;
    width: 100px;
    margin-right: 100px;
}